#user{
    font-size: 30px;
    text-align: center;
    padding: 15px 0 25px 0;
    color: var(--color);
    position: relative;
    position: sticky;
    top: 110px;
}
#status{
    position: absolute;
    bottom: -10px;
    opacity: .6;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
}

#messages{
    margin: 10px 250px;
}
.message{
    color: var(--quaternary);
    display: block;
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--secondary);
    position: relative;
}
.your{
    background-color: var(--color2);
    color: var(--color);
}
.info{
    position: absolute;
    right: -10px;
    color: var(--color);
    opacity: .4;
    transform: translateX(100%);
}

#message-send-box{
    position: sticky;
    bottom: 0;
    background-color: var(--quaternary);
    margin: 0 250px;
}
#message-input{
    margin-right: 20px;
    width: 95%;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    color: var(--color);
    border: none;
    border-bottom: 6px solid var(--primary);
}
#send-button{
    color: var(--color);
    font-size: 100px;
    background-color: transparent;
    border: none;
}