<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div id="nav">
    <span class="link" [routerLink]="['/contacts']" routerLinkActive="active">
        <span class="material-symbols-outlined icon">import_contacts</span>
        Contacts
    </span>
    |
    <span class="link" [routerLink]="['/user']" routerLinkActive="active">
        <span class="material-symbols-outlined icon">person</span>
        Profile
    </span>
    |
    <span class="link">
        <span class="material-symbols-outlined icon">logout</span>
        Log out
    </span>
</div>